<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <!-- This line of code puts the navbar onto the About page-->
    <% include ../helpers/navbar %>

  
    <h1>About ME</h1>
  </div>

  <p>Hello Youtube. Hey Alain</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>