<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <!-- This line of code puts the navbar onto the Home page-->
      <% include ../helpers/navbar %>

  
    <h1>My Web App</h1>
  </div>

  <p>Hello Youtube. Hey Alain</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>

  <!--activity to add a search bar-->
  <input class="search" type="text" placeholder="Enter city name">
  <button type="button" onClick="searchWeather()">Search</button>

  <!--these lines of code show the search bar for the weatherapp-->
  <div class="error-message"></div>

  <!--these lines of code are for the weatheapp activity-->
  <div class="city"></div>
  <div class="temp"></div>

  
</body>

</html>